/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************************************************/

:root {
    font-size: 62.5%;
    box-sizing: border-box;

    --bg-main-color: #0d1b2a;
    --main-lyrics-color: #778da9;
    --bg-square-color: #415a77;
    --bg-square-hover-color: #778da9;
    --square-pieces-color: #ffff;
    --bg-display-color: #aec3b0;
    --display-lyrics-color: black;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    background-color: var(--bg-main-color);
    color: var(--main-lyrics-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    flex: 1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 0 0 0;
    font-size: 5rem;
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;

    width: 350px;
    height: 350px;
}

.board-square {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;

    background-color: var(--bg-square-color);
    color: var(--square-pieces-color);
    font-size: 5rem;
    border-radius: 5px;
}

.board-square:hover {
    background-color: var(--bg-square-hover-color);
    cursor: pointer;
}

.display {
    padding: 1rem 3rem;
    font-size: 3rem;
    border-radius: 12px;
    background-color: var(--bg-display-color);
    color: var(--display-lyrics-color);
}