/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************************************************/

@font-face {
    font-family: 'Death Rattle';
    src: url(fonts/deathrattlebb_reg.ttf);
}

@font-face {
    font-family: 'Pixelar';
    src: url(fonts/04B_30__.TTF);
}

@font-face {
    font-family: 'Retro Gaming';
    src: url(fonts/Retro\ Gaming.ttf);
}

:root {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Pixelar', sans-serif, system-ui;

    --bg-main-color: #0d1b2a;
    --main-lyrics-color: #778da9;
    --bg-square-color: #415a77;
    --bg-square-hover-color: #778da9;
    --bg-menu-color: #8d99ae;
    --square-pieces-color: #ffff;
    --bg-display-color: #aec3b0;
    --display-lyrics-color: black;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    background-color: var(--bg-main-color);
    color: var(--main-lyrics-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    flex: 1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 0 0 0;
    font-size: 5rem;
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;

    width: 350px;
    height: 350px;
}

.board-square {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;

    background-color: var(--bg-square-color);
    color: var(--square-pieces-color);
    font-size: 8rem;
    font-family: 'Death Rattle';
    border-radius: 5px;
}

.board-square:hover {
    background-color: var(--bg-square-hover-color);
    cursor: pointer;
}

.display {
    padding: 1rem 3rem;
    font-size: 2.5rem;
    border-radius: 12px;
    background-color: var(--bg-display-color);
    color: var(--display-lyrics-color);
}

.invisible {
    display: none;
}

.menu {
    width: 400px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    background: var(--bg-menu-color);
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 100%;
    font-family: 'Retro Gaming';
}

form h2 {
    font-size: 2rem;
    text-align: center;
}

form label {
    font-size: 1.5rem;
}

form input {
    padding: 3px 5px;
    border-radius: 12px;
    border-style: inset;
}

form input:focus {
    background-color: lightcyan;
}

.form-row {
    display: flex;
    justify-content: space-around;
}

.form-row-content {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.form-row.footer {
    flex: 1;
    align-items: flex-end;
    margin-bottom: 5px;
}

.form-row.footer button {
    background: none;
    border: none;
    font-family: 'Retro Gaming';
}

.form-row.footer button:hover:not(.btn-menu) {
    border-radius: 6px;
    background-color: #5b82b4;
    padding: 5px;

    cursor: pointer;
}